@charset "UTF-8";

.output {
    position: relative;

    [data-action*="follow"] {
        position: absolute;
        top: 10px;
        right: 5px;

        font-weight: bolder;
    }

    [data-action="follow"] {
        opacity: 1.0;
        color: dimgray;
        background: rgba(200, 200, 200, 0.5);
    }

    [data-action="no-follow"] {
        opacity: 0.65;
        color: lightgray;
        background: rgba(255, 255, 255, 0.5);
    }

}